.c {
	font-family: "Î¢ÈíÑÅºÚ";
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	margin-left: 5px;
}
.td1 {
	background-color: #3399FF;
}
.td2 {
	background-color: #66CC99;
}
.td3 {
	background-color: #FF9966;
}
.td4 {
	background-color: #FF3333;
}
.td5 {
	background-color: #3366FF;
}
.td6 {
	background-color: #339966;
}
.td7 {
	background-color: #CC6633;
}
.td8 {
	background-color: #CC0033;
}
.td9 {
	background-color: #859537;
}
.td10 {
    background-color: #788646;
}
