body{
    margin:0;padding:0;border:0;width:100%;height:100%;
}
h1
{
    font-size:20px;
    font-family:Verdana;
}
h4
{
    font-size:16px;
    margin-top:25px;
    margin-bottom:10px;
}
.description
{
    padding-bottom:30px;
    font-family:Verdana;
}
.description h3
{
    color:#CC0000;
    font-size:16px;
    margin:0 30px 10px 0px;
    padding:45px 0 8px;
    /*background:url(titleback.png) no-repeat scroll left bottom transparent*/
    border-bottom:solid 1px #888;
}
.mteller{
    position:absolute;
    height:20px;
    line-height:20px;
    font-size:14px;
    font-family:Microsoft YaHei;
    top:35px;
    right:150px; 
}
.userinfo{float:right;margin:36px 20px 0 0;font-size:14px; color:#333}
.gotourl{float:left;margin:36px 20px 0 0;font-size:14px; color:#333}
.userinfo a{ font-size:14px; text-decoration:none;border:0;color:#333}
.userinfo a:visited{ color:#333}
.logo_top{border:0}
.tdTitle{
    height:20px;
    width:4%;
    text-align:right;
    font-style: italic;
    font-family:Microsoft YaHei;
    vertical-align:top;
    line-height:20px;
    font-size:16px;
}
.tdValue{
    height:20px;
    width:96%;
    text-align:left;
    line-height:20px;
    font-size:14px;
    font-family:Microsoft YaHei;
}
.submit{
    width:51%;
    height:30px;
}
.New_Button, .Edit_Button, .Delete_Button, .Update_Button, .Cancel_Button {
    font-size:11px;color:#1B3F91;font-family:Verdana;
    margin-right:5px;
}
#page-intro {
    font-size: 14px;
    padding: 2px 0px 0px 5px;
}
.clear {
    clear: both;
}
.error-notify{ background:url('../images/icons/errortext.png') center left no-repeat;  height:130px; margin:0 0 20px -5px;}
.notification {
    position: relative;
    margin: 0 0 15px 0;
    padding: 0;
    border: 1px solid;
    background-position: 10px 11px !important;
    background-repeat: no-repeat !important;
    font-size: 14px;
    width: 99.8%;
}
.error {
    background: #ffcece url('../images/icons/cross_circle.png');
    border-color: #df8f8f;
    color: #665252;
}
.notification .close {
    color:#990000;
    font-size:9px;
    position:absolute;
    right:5px;
    top:5px;
}
.notification div {
    display:block;
    font-style:normal;
    padding: 10px 10px 10px 36px;
    line-height: 1.7em;
}
.img {
    padding-bottom:0px;
    border-right-width:0px;
    margin:0px;
    padding-left:0px;
    outline-width:0px;
    padding-right:0px;
    font-family:inherit;
    border-top-width:0px;
    border-bottom-width:0px;
    font-size:100%;
    vertical-align:baseline;
    border-left-width:0px;
    paddint-top:0px;
    
}
.registerDiv {
    height:560px;
    background:#f3f3f4;
}
.registerFieldset {
    margin-left:5px;
    height:270px;
    width:99%;
    border:1px bolid #cccccc;
}
.reasonDiv {
	margin-left:5px;
    width:auto;
    overflow:auto;
    position:relative;
}
.accountDiv {
    margin-left:5px;
    width:99%;
    height:210px;
    overflow:auto;
    position:relative;
}
.gridDiv {
    margin-left:5px;
    width:99%;
    height:410px;
    overflow:auto;
    position:relative;
}
.resultFieldset {
    margin-left:5px;
    height:140px;
    width:99%;
    border:1px bolid #cccccc;
}
.excuteFieldset {
    margin-left:5px;
    height:110px;
    width:99%;
    border:1px bolid #cccccc;
}
.fixedTable {
    width:100%;
    table-layout:fixed;
    margin-top:5px;
}
.jtopo_toolbar{
    padding-left:20px;
    height: 28px;
    padding-top: 7px;
}
.showButton{
    padding-top: 0px;
}